<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UserResource Test Suite" >
    <test name="UserResource">
        <classes>
            <class name="src/test/java/com/example/wsspringbootjpa/resources.UserResourceTest"/>
        </classes>
    </test>
</suite>